@model StudentSystem.Models.Students.DetailsStudentViewModel

@{
    ViewBag.Title = "Student Details";
}

<h2>Student Details</h2>
<br/>

<div>
    <h4>Personal data</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FacultyNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacultyNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Specialty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Specialty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Semester)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Semester)
        </dd>
    </dl>

    <h4>Contacts</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelephoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelephoneNumber)
        </dd>
    </dl>

    <h4>Disciplines this semester</h4>
    <hr/>

    <table class="table">
        <thead>
        <tr>
            <th>Discipline</th>
            <th>Teacher's first name</th>
            <th>Teacher's last name</th>
            <th>hours per week</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var discipline in Model.Disciplines)
        {
            <tr>
                <td>@discipline.DisciplineName</td>
                <td>@discipline.TeacherFirstName</td>
                <td>@discipline.TeacherLastName</td>
                <td>@discipline.HoursPerWeek</td>
            </tr>
        }
        </tbody>
    </table>
</div>

@if (Model.ShowDeleteButton)
{
    @Html.ActionLink("Detele", "Delete", new {id = Model.FacultyNumber}, new {@class = "btn btn-danger"})
    ;
}